body{
  background-color: Black
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: gold
}
a{
  color: Black
  padding: 1em;
  text-decoration: none;
  transition: background-color 1s;
}

a:hover{
  background-color: gold

}
