body{
  margin:0;
}
h1{
  color: gold;
  text-align: center;
}
header{
  background-color: gold;
  overflow:auto;
  color: gold;
}
nav{
  display: flex;
  justify-content: space-around;
  background-color: gold;
}
a{
  color: Black;
  padding: 1em;
  text-decoration: none;
  transition: background-color 1s;
}
a:hover{
  background-color: yellow;
}
main{
  width: 80%
  float:right;
}
